*{
        margin: 0;
        font-family: "Fira Sans",serif;

}
body{
        background-color: #F5F5F5;
}
.hero{  
        display: flex;
        justify-content: space-between;
        margin: 0 80px 0;
        padding: 24px 160px 24px 160px;
}
.hero-logo{
        color: rgb(14, 14, 14);
        font-size: 32px;
        font-weight: 700;
}
.hero-btn{
        padding: 15px 30px 15px 30px;
        box-sizing: border-box;
        border: 1px solid rgb(0, 106, 80);
        border-radius: 8px;
        color: rgb(0, 106, 80);
        font-weight: 600;
        font-size: 18px;
}
.hero-banner{
        padding: 50px;
        max-width: 1200px;
        height: 530px;
        margin: 0 auto;
        border-radius: 24px;
        background-color: rgb(198, 228, 214);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 64px;
        margin-bottom: 80px;
}
.banner-sub-title{
        color: rgba(14, 14, 14, 0.5);
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 16px;
}
.hero-title{
        color: rgb(14, 14, 14);
        font-size: 56px;
        font-weight: 700;
       margin-bottom: 24px;
                
}
.banner-btn{
        border-radius: 8px;
        border:none;
        background: rgb(0, 106, 80);
        padding: 17px 34px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 600;  
             
}

.piller-title{
        width: 1280px;
        height: 32px;
        margin: 0 auto;
        color: rgb(14, 14, 14);
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 32px;
}
.pillers-container{
       max-width: 1280px;
       margin: 0 auto;
       display: flex;
       gap: 24px;


}

.pillers-content{
        width: 300px;
        height: 240px;
        padding: 24px;
        margin-top: 10px;
        box-sizing: border-box;
        border: 1px solid rgba(14, 14, 14, 0.15);
        border-radius: 16px;
        background: rgb(255, 255, 255);
        margin-bottom: 80px;
}
.pillers-content-title{
        color: rgba(14, 14, 14, 0.8);
        font-size: 20px;
        font-weight: 700;
        margin-top: 24px;
        margin-bottom: 12px;
}
.pillers-content-description{
        color: rgba(14, 14, 14, 0.7);
        font-size: 16px;
        font-weight: 400;
}
.vision {
        width: 1280px;
        margin: 0 auto;
        margin-bottom: 32px;
}

.vision-titel {
        color: rgb(14, 14, 14);
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 24px;
}

.vision-description {
        color: rgba(14, 14, 14, 0.7);
        font-size: 16px;
        font-weight: 400;

}
.vision-container{
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        gap: 24px;
}
.vision-box{
        width: 410px;
        height: 325px;
        padding: 32px;
        background-color: white;
        box-sizing: border-box;
        border-radius: 16px;
        margin-bottom: 32px;
        
}
.vision-contain-1{
        background: rgba(84, 144, 245, 0.2);
}
.vision-contain-2{
        background: rgb(198, 228, 214);
}
.vision-contain-3{
        background: rgb(247, 235, 207);
}
.vision-contain-title{
        color: rgba(14, 14, 14, 0.8);
        font-size: 20px;
        font-weight: 700;
        margin: 24px 0 12px;
              
}
.vision-contain-description{
        color: rgba(14, 14, 14, 0.7);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 24px;
}
.vision-btn{
        padding: 11px 20px;
        border-radius: 8px;
        border: none;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 600;
        
}
.btn-1{
        background: rgb(84, 144, 245);
}
.btn-2{

        margin-top: 15px;
        background: rgb(9, 161, 92);
}
.btn-3{
     
        background: rgb(255, 194, 57);
}
.younus{
        max-width: 1230px;
        height: 256px;
        background-color: white;
        border: 26px solid white;
        border-radius: 16px;
        margin: 0 auto;
        background-image: url("./assets/quote-bg.png");
        background-repeat: no-repeat;
        background-position: top left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 32px;
}
.about-younus{
        color: rgba(14, 14, 14, 0.8);
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 12px;
}
.younus-name{
        color: rgba(14, 14, 14, 0.8);
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 12px;
        
}
.younus-sub-title{
        color: rgba(14, 14, 14, 0.6);
        font-size: 16px;
        font-weight: 400;
}
.news-container{
        
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 80px;
}
.news-content{
        padding: 50px;
        background-color: white;
        border-radius: 24px;
        max-width: 1280px;
        height: 320px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 32px;
}
.img-style{
        border-radius: 24px;
}
.news-titele{
        color: rgba(14, 14, 14, 0.8);
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 12px;  
}
.news-date{
        color: rgba(14, 14, 14, 0.7);
        font-size: 16px;
        font-weight: 400;
        margin: 12px 0;
}
.news-description{
        color: rgba(14, 14, 14, 0.7);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 32px;    
}
.news-btn{
        padding: 13px 26px;
        border-radius: 8px;
        border: none;
        background: rgb(0, 106, 80);
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 600;
                

}
                